<mat-progress-bar *ngIf="layoutService.isLoading" color="warn" mode="query"></mat-progress-bar>
<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" (click)="isOpened()" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <span>Core Value Report</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" [matMenuTriggerFor]="userAccount" aria-label="Example icon-button with share icon">
        <mat-icon>person</mat-icon>
    </button> 
    <mat-menu #userAccount="matMenu">
        <button mat-menu-item (click)="logoutted()">Logout</button>
    </mat-menu>
</mat-toolbar>
<mat-drawer-container class="example-container">
    <mat-drawer class="sideNavTool" mode="over" [opened]="sideNav">
        <mat-nav-list>
            <a mat-list-item href="" [routerLink]="'/stock'" (click)="isOpened()">
                <mat-icon>bookmark</mat-icon>Stock Balance
            </a>
            <mat-divider></mat-divider>
            <mat-list-item>
                <mat-icon>bookmark</mat-icon>AR/AP
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <mat-icon>bookmark</mat-icon>Daily Cash
            </mat-list-item>
            <mat-divider></mat-divider>
            <a mat-list-item href="" [routerLink]="'/user'">
                <mat-icon>bookmark</mat-icon>User Setup
            </a>
        </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
       
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>