<mat-card>
  <mat-card-header>
    <mat-card-title>User Setup</mat-card-title>
  <span class="example-spacer"></span>
  <button mat-raised-button [routerLink]="'/user'">Back</button>
  </mat-card-header>
  <mat-divider ></mat-divider>
  <mat-card-content>
    <form class="example-form" [formGroup]="userForm" (ngSubmit)="save(userForm.value)">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Enter your name</mat-label>
        <input matInput name="userName" formControlName="userName" required>
        <mat-error *ngIf="!userForm.value.userName">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Enter your short name</mat-label>
        <input matInput name="shortName" formControlName="shortName">
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Enter your password</mat-label>
        <input matInput name="password" formControlName="password" [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Phone No</mat-label>
        <input matInput name="phone" formControlName="phone">
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Enter your email</mat-label>
        <input matInput placeholder="pat@example.com" name="email" formControlName="email" required>
        <mat-error *ngIf="!userForm.value.email">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
      <div class="example-checkbox-row">
        <mat-checkbox color="primary" name="active" formControlName="active">Active
        </mat-checkbox>
      </div>
      <div class="example-button-row">
        <button mat-raised-button type="submit" color="primary" [disabled]="!userForm.valid">Save</button>
        <button mat-raised-button (click)="clearUser()" type="button">Clear</button>
      </div>
    </form>
  </mat-card-content>
  <mat-card-footer>

  </mat-card-footer>
</mat-card>