body {
  font-family: Roboto, "Arial", sans-serif;
  margin: 0;
  padding: 0px;
}

html,
body {
  height: 100%;
}

@media(min-width :315px) {
  mat-card {
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
  }
}

@media(min-width :992px) {
  mat-card {
    width: 30%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
  }
}

@media(min-width :1200px) {
  mat-card {
    width: 30%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
  }
}